<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <joint name="sensor_lidar_union" type="fixed">
        <parent link="chasis"/>
        <child link="sensor_lidar"/>
        <origin xyz="0.1 0 0.16" rpy="0 0 0"/>
    </joint>

    <link name="sensor_lidar">
         <visual>
            <geometry>
                <box size="0.05 0.05 0.02"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.03 0.03 0.015"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.01" x="0.04" y="0.03" z="0.015">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
    
    <gazebo reference="sensor_lidar">
        <material>Gazebo/Red</material>
        <sensor name="laser" type="ray"><!-- Tipo de sensor a utilizar, en este caso LASER-->
            <pose> 0 0 0 0 0 0 </pose><!-- Punto de referencia para el sensor-->
            <visualize>false</visualize><!-- Visualizacion dentro del entorno-->
            <update_rate>10</update_rate><!-- Tasa de actualizacion del sensor (cada 10 segundos para el ejemplo-->
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                </range>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so"><!-- Controladores estandar de ROS para la visualizacion en GAZEBO-->
                <ros>
                    <argument>~/out:=scan</argument><!-- Argumento para lanzamiento del archivo dentro de ROS-->
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type><!-- Tipo de mensaje de salida-->
                <frame_name>sensor_lidar</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>